<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Angular ToDoList</title>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style>
        html{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

    <div ng-app="appToDoList" ng-cloak ng-controller="appCtrl" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">To Do List</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="x in missionList">{{x}}<span class="pull-right"><span ng-click="removeItem($index)" style="cursor:pointer;" class="glyphicon glyphicon-remove text-right"></span></span></li>
        </ul>
        <div class="panel-footer">

            <div class="row">
                <div class="col-xs-10">
                    <input class="form-control" id="ex1" type="text" placeholder="Add task here." ng-model="addToDoItem">
                </div>
                <div class="col-xs-2">
                    <span class="pull-right"><button type="button" class="btn btn-primary" ng-click="addItem()">Add</button></span>
                </div>
            </div>
            <div class="row" ng-show="errortext">
                <br>

                <div class="alert alert-danger">
                    <strong>Error !</strong> {{errortext}}
                </div>

            </div>

        </div>

    </div>
</body>
</html>